{% include 'admin_header.html' %}
{% load static %}
<body>

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					{% include 'admin_sidebar.html' %}<!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-head">
								<h3>All  Makeup</h3>
							</div>
							<div class="module-body">
								<table class="table table-striped">
								  <thead>
									<tr>
										<th>Sr. No</th>
                                        <th>Service</th>
									    <th>Description</th>
										<th>Edit</th>
										<th>Delete</th>
									</tr>
								  </thead>

								  <tbody>
                                  {% for i in makeup %}
									<tr>
										<th>{{forloop.counter}}</th>
										<th>{{i.service}}</th>
										<th style="height:300px; width:300px;">{{i.description}}</th>
										<td><a href="admin_makeup_edit/{{i.id}}"><img src="{% static 'images/edit_2.png' %}" style="height:25px; width:25px;"></a></td>
										<td><a href="admin_makeup_delete/{{i.id}}"><img src="{% static 'images/delete.png' %}" style="height:22px; width:22px;"></a></td>
									</tr>
                                  {% endfor %}

								  </tbody>
								</table>

								<br />
								<!-- <hr /> -->
								<br />

															</div>
						</div><!--/.module-->
						<br />

					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% include 'admin_footer.html' %}

	<script src="{% static 'scripts/jquery-1.9.1.min.js' %}"></script>
	<script src="{% static 'scripts/jquery-ui-1.10.1.custom.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'scripts/datatables/jquery.dataTables.js' %}"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script>
</body>