{% load static %}
<div id="betty-footer2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="betty-logo">
                                <a href="{% url 'home' %}"><img src="{% static 'images/logo_2.png' %}" alt=""></a>
                                <h2 class="text-center">Dulhan
                                    <span>Beauty Parlour</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            <div class="betty-footer">
                                 <p>Dulhan Beauty Parlour. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>